.DS_Store
node_modules
/build
/.svelte-kit
/package
.env

# IDE
.idea/

# cypress
cypress/screenshots
cypress/videos

# vercel
.vercel_build_output
.vercel

# local database and blob storage
.data
.env.local
.env.*.local
