name: E2E

on:
  deployment_status:

jobs:
  chrome:
    # only runs this job on successful deploy
    if: github.event.deployment_status.state == 'success'
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set Node.js from .nvmrc
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'

      - name: Run Cypress
        uses: cypress-io/github-action@v4
        with:
          browser: chrome
          cache-key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
        env:
          CYPRESS_BASE_URL: ${{ github.event.deployment_status.target_url }}

      - uses: actions/upload-artifact@v6
        if: failure()
        with:
          name: chrome-cypress-screenshots
          path: cypress/screenshots

      - uses: actions/upload-artifact@v6
        if: always()
        with:
          name: chrome-cypress-videos
          path: cypress/videos
